p {
  margin-bottom: $content-margin;
  &:last-child {
    margin-bottom: 0;
  }
}

h2,
h3 {
  font-family: type(face);
  font-weight: type(weight--bold);
  font-size: 1.5rem;
  margin-bottom: $content-margin;
}

h3 {
  font-size: 1.25rem;
}
