.split {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  min-height: 100vh;
  @include mq(small) {
    flex-direction: row;
    align-items: stretch;
  }
}

.story-map-container {
  // sass-lint:disable-block no-important
  // TODO: Refactor the mapbox CSS to avoid these important flags.
  position: fixed !important;
  top: 0;
  width: 100%;
  height: 30vh;
  background-color: $background--map !important;
  @include mq(small) {
    position: sticky !important;
    width: 50%;
    height: 100vh;
  }
  @include mq(medium) {
    width: 66%;
  }
}

.narrative {
  width: 100%;
  height: 70vh;
  margin-top: 30vh;
  background-color: $background--narrative;
  font-family: $face--serif;
  @include mq(small) {
    width: 50%;
    height: auto;
    min-height: 100vh;
    margin-top: 0;
  }
  @include mq(medium) {
    width: 34%;
  }
  &__title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: $content-margin;
    height: 50vh;
    background-image: url('/img/cover.png');
    background-color: $cover-overlay;
    background-position: center center;
    background-size: cover;
    background-blend-mode: multiply;
    border-bottom: 0;
    cursor: pointer;
    @include mq(small) {
      height: auto;
      min-height: 75vh;
    }
  }
  &__item {
    padding: $content-margin;
    min-height: 25vh;
    border-bottom: 1px solid $divider;
    cursor: pointer;
    transition: background $duration $timing;
    &:hover {
      background: $background--narrative--hover;
    }
    &:last-child {
      margin-bottom: 50vh;
    }
    &.is-active {
      background: $background--narrative--active;
    }
  }
}


.map-marker {
  box-sizing: content-box;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 90%;
  font-family: $face;
  color: $type;
  background: $marker;
  border: 2px solid $marker-border;
  transition: background $duration $timing, border $duration $timing;
  &.is-active {
    background: $marker--active;
    border-color: $marker-border--active;
  }
}
